body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 14%;
  font-family: "Open Sans", serif;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 1);
  z-index: 10000;
  .logo {
    width: 5%;
    margin-right: 0%;
    img {
      width: 100%;
    }
  }
  .title-page {
    display: flex;
    width: 50%;
    padding-right: 0%;
    p {
      font-size: 200%;
      padding-inline: 1%;
      margin: 0;
    }
  }
  // Essa divisão de p's foi feita para colocar um title dividido em duas cores
  // Caso queira verificar, existe uma clase p1 e p2 no component Navbar.tsx
  .p2 {
    color: rgb(160, 160, 38);
  }

  .nav-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    margin: 0;
    padding-right: 1%;
    .nav-lang-button {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: end;
      button {
        width: 50%;
        background: none;
        border: none;
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
          transition: 0.5s;
        }
        &:not(:hover) {
          transform: scale(1);
          transition: 0.5s;
        }
      }
    }

    .menu-hamburguer {
      display: none;
    }

    .ul-navbar {
      display: flex;
      align-items: end;
      justify-content: space-between;
      width: 50%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        a {
          color: black;
          text-decoration: none;
          &:hover {
            color: green;
          }
        }
        &:hover {
          transform: scale(1.3);
          transition: 0.8s;
          cursor: pointer;
          border-bottom: 2px solid rgb(26, 141, 26);
        }
        &:not(:hover) {
          transform: scale(1);
          transition: 0.8s;
        }
      }
    }
  }

  .dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0%;
    top: 99.5%;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 0px 0px 4px 4px;
    padding-inline: 2%;
    list-style: none;
    .dropdown-items a {
      text-decoration: none;
      color: black;
      &:hover {
        color: rgb(26, 141, 26);
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 5500px;
  background-color: rgb(15, 72, 101);

  .section-properties {
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title-properties {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: white;
        font-family: "Open Sans", serif;
        font-weight: 500;
        padding-block: 2%;
        margin: 0;
      }
    }
    .section-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2%;
      width: 100%;
      height: 85%;
      .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 20px;
        width: 35%;
        height: 80%;
        margin: 2%;
        background-color: rgba(255, 255, 255, 0.884);
        box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.7);

        .box-card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          width: 100%;
          height: 100%;
          .box-img {
            width: 100%;
            height: 41%;
            img {
              width: 100%;
              height: 100%;
              border-radius: 20px 20px 0px 0px;
            }
          }
          .box-price {
            width: 100%;
            p {
              font-size: 180%;
              font-family: "Open Sans", serif;
              margin: 2%;
            }
          }
          .box-description {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: justify;
            height: 30%;
            margin-inline: 5%;
            p {
              margin: 0;
              font-weight: 600;
              font-family: "Open Sans", serif;
              font-size: 90%;
            }
          }
          .box-button {
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;

            // Animations of the button
            @mixin backgroundButtonEntrance {
              background: rgb(37, 83, 143);
              animation: backgroundButtonEntrance 0.4s linear forwards;
            }
            @keyframes backgroundButtonEntrance {
              0% {
                background: rgb(37, 83, 143);
              }

              100% {
                background: linear-gradient(
                  139deg,
                  rgba(37, 83, 143, 1) 10%,
                  rgba(0, 212, 255, 1) 100%
                );
              }
            }
            // Animations of the button

            button {
              background-color: #25538f;
              border-radius: 30%;
              font-family: "Open Sans", serif;
              width: 40%;
              height: 100%;
              padding: 0;
              margin-bottom: 4%;
              color: white;
              font-size: 105%;
              border: none;
              &:hover {
                @include backgroundButtonEntrance;
              }
              a {
                color: white;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10%;

  .about-us-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    h1 {
      color: white;
      font-family: "Open Sans", serif;
      font-weight: 500;
      margin: 0;
    }
  }
  .about-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 88%;
    margin: 2%;
    .about-us-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .about-us-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    background-color: rgb(10, 38, 53);
    p {
      font-size: 120%;
      color: white;
      font-family: "Open Sans", serif;
      margin: 3%;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: rgb(37, 83, 143);
  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    width: 100%;
    height: 20%;
    p {
      font-size: 200%;
      padding-inline: 1%;
      margin: 0;
      color: white;
      font-family: "Open Sans", serif;
    }
    .p2 {
      color: rgb(160, 160, 38);
    }
  }
  .footer-informations {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .footer-informations-links {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
      width: 50%;
      height: 100%;
      padding-bottom: 1%;

      a {
        text-decoration: none;
        color: white;
        font-family: "Open Sans", serif;
        font-size: 85%;
        &:hover {
          transform: scale(1.2);
          transition: 0.5s;
          color: rgb(26, 141, 26);
          cursor: pointer;
          border-bottom: 2px solid rgb(26, 141, 26);
        }
      }
    }
    .footer-informations-contacts {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
      width: 50%;
      height: 100%;
      padding-block: 1%;

      a {
        display: flex;
        align-items: center;
        gap: 5%;
        text-decoration: none;
        text-align: start;
        text-wrap: nowrap;
        color: white;
        font-family: "Open Sans", serif;
        font-size: 130%;
        &:hover {
          transform: scale(1.1);
          transition: 0.5s;
          color: rgb(26, 141, 26);
          cursor: pointer;
          border-bottom: 2px solid rgb(26, 141, 26);
        }
      }
    }
  }

  .footer-end {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6%;
    p {
      margin: 0;
      color: white;
      font-family: "Open Sans", serif;
    }
  }
}

// Essa estilização abaixo é para a página properties
.main-properties {
  justify-content: start;
  align-items: center;
  height: 1400px;
}

.properties-content {
  width: 100%;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 81%;
  .properties-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Open Sans", serif;
    margin-block: 3%;
    h1 {
      font-size: 290%;
      box-shadow: #082a58 8px 8px 8px 2px;
    }
  }
}

.noGrid {
  grid-template-columns: 50% 50% !important;
  width: 95% !important;
  grid-template-rows: auto !important;
  height: 210px !important;
}

.properties-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 90%;
  background-color: #12375a;
  border-radius: 2%;
  box-shadow: #082a58 0px 0px 8px 5px;

  .properties-container {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto 40%;
    gap: 2%;
    height: 420px;
    width: 95%;
    margin: 2%;

    .properties-grid {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5%;
      &:not(:hover) {
        transform: scale(1);
        transition: transform 0.2s;
      }
      &:hover {
        transform: scale(1.3);
        transition: transform 0.5s;
        cursor: pointer;
        z-index: 1000;
      }
    }
  }
}

.properties-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88%;
  height: 5%;
  color: white;
  font-family: "Open Sans", serif;
  // border: 2px solid blue;
  border-radius: 2%;
  box-shadow: #082a58 8px 0px 10px 3px;
  margin-bottom: 2%;
  h1 {
    font-weight: 400;
    font-size: 250%;
  }
}
.properties-description {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 88%;
  background-color: #12375a;
  padding: 0.5%;
  margin-bottom: 3%;
  color: white;
  font-family: "Open Sans", serif;
  p {
    font-size: 110%;
    text-align: justify;
  }
}

// Media queries do index.css

// 4k
@media (max-width: 2756px) and (min-width: 1480px) {
  .main {
    height: 6010px;
  }

  .section-cards {
    height: 14% !important;
  }
  .card {
    width: 25% !important;
    height: 101% !important;
  }
  .box-description p {
    font-size: 147% !important;
  }
  .box-price p {
    font-size: 251% !important;
  }
  .about-us p {
    font-size: 154% !important;
  }
  li {
    font-size: 150%;
  }
  button a,
  .footer-informations-links a {
    font-size: 150% !important;
  }
  .footer-informations-contacts a {
    font-size: 165% !important;
  }
  button img {
    width: 60% !important;
  }
  .main-properties {
    height: 4500px !important;
  }
  .properties-description {
    font-size: 180%;
  }
  .properties-container {
    height: 1200px !important ;
  }
}
// Laptop
@media (max-width: 1100px) and (min-width: 830px) {
  li {
    font-size: 80% !important;
  }
  .box-description p {
    font-size: 80% !important;
  }
  .box-price p {
    font-size: 110% !important;
  }
  .about-us-text p {
    font-size: 95% !important;
  }
  button img {
    width: 80%;
  }
}

// Mobile
@media (max-width: 829px) {
  .title-page p {
    font-size: 100% !important;
  }
  .logo {
    width: 10% !important;
  }
  .nav-buttons {
    width: 30% !important;
    justify-content: space-between !important;
  }

  .nav-lang-button {
    width: 30% !important;
  }

  // Estlização para a lógica completa do menu hamburguer e animações
  .menu-hamburguer {
    display: flex !important;
    width: 20%;
    z-index: 10;
    button {
      width: 100%;
      height: 100%;
      background: none;
      border: 0;
    }
  }
  .menu-active {
    right: 0 !important;
    top: -168% !important;
    align-items: center !important;
    height: 50vh !important;
    transition: 0.3s ease;
    background-color: #ffffff;
    flex-direction: column;
    padding-block: 300px !important;
    box-shadow: #082a58 0px 0px 100px 20px;
  }
  .dropdown-menu {
    position: static !important;
    top: 68% !important;
    right: 29% !important;
    left: 29% !important;
    .dropdown-items {
      font-size: 70%;
    }
  }
  .ul-navbar {
    position: absolute;
    top: -1000%;
  }
  // Estlização para a lógica completa do menu hamburguer e animações

  .main {
    height: 5500px !important;
  }

  .section-properties {
    height: 100%;
  }

  .section-cards {
    flex-direction: column;
    height: 1200px !important;
    justify-content: start !important;
  }
  .section-cards-small {
    height: 500px !important;
  }
  .card {
    width: 70% !important;
    height: 100% !important;
  }
  .box-description p {
    font-size: 60% !important;
  }
  .box-price p {
    font-size: 110% !important;
  }

  .about-us {
    height: 12% !important;
  }
  .about-us-text p {
    font-size: 73% !important;
    font-weight: bold;
  }
  .about-us-title {
    height: 5% !important;
  }
  .about-us-content {
    height: 61% !important;
    width: 90% !important;
    background-color: white;
  }
  .about-us-img img {
    height: 40% !important;
  }

  button img {
    width: 80%;
  }
  .footer-informations-links a {
    font-size: 50% !important;
  }
  .footer-informations-contacts {
    width: 100% !important;
  }
  .footer-informations-contacts a {
    font-size: 85% !important;
    img {
      width: 12%;
    }
  }
  .footer-end {
    font-size: 45%;
  }
  // section of .main-properties
  .main-properties {
    height: 2400px !important;
  }

  .properties-content {
    justify-content: center;
    height: 100%;
  }

  .properties-images {
    grid-template-columns: 1fr !important;
  }
  #properties-large {
    height: 3000px !important;
  }
}
